.App {
  text-align: center;
}

table{
  width : 100%;
  align-self: center;
}

td{
  padding: 0.1%;
  font-family: "Lucida Handwriting";
  border: 1px solid black;
  width : 10%;
  text-align-last : center;
}

.spacing{
  margin-top: 1%;
  margin-bottom: 1%;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(54, 83, 97);
  color: white;
  margin-bottom: 2%;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}